th,td{
    padding-left: 10px;
    padding-right: 10px;
}

button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.req-details{
    display: flex;
    vertical-align: bottom;
    width: fit-content;
}

p{
    margin-top: 20px;
    margin-right: auto;
    width: 300px;
}
.filename{
    width: fit-content;
    vertical-align: middle;
}

.req{
    width: 800px;
    margin-right: auto;
}

.remark-field{
    margin-top: 20px;
}