<div class="component">
  <b>Request Id:</b>&nbsp;{{request.id}}
  <br>
  <b>Request Date:</b>&nbsp;{{request.date}}
  <br>
  <b>File name:</b>&nbsp;{{request.fileName}}
  <br>
  <b>Request status:</b>&nbsp;{{request.status}}
  <br>
  <div *ngFor="let approver of request.approvals">
    <b>Approver name:</b> &nbsp; {{approver.approver}} 
    &nbsp;&nbsp;&nbsp;
    <b>Status :</b> &nbsp; {{approver.status}}
  </div>
  <b>File Data:</b>
  <br>
  <table class="minimalistBlack" *ngIf="records.length > 0">    
      <thead>    
        <tr>   
          <th *ngFor="let head of header">{{head}}</th>
        </tr>    
      </thead>    
      <tbody>    
        <tr *ngFor="let record of records;">    
          <td *ngFor="let rec of record;"> <span>{{rec}}</span> </td>
        </tr>    
      </tbody>    
    </table>
  
  <div *ngIf="isApprover">
    <button (click)="approve(false)" *ngIf="!approved">REJECT</button>
    <button (click)="approve(true)" *ngIf="!approved">APPROVE</button>
    <div
      class="alert alert-success"
      role="alert"
      *ngIf="showSuccess || approved"
      >
      {{successMessage}}
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="showFailed"
      >
      Request Approve failed
    </div>
  </div>
  
</div>
    