<div class="requests-container" ng-app="requests App" ng-controller="requests controller">
    <table class="minimalistBlack" *ngIf="requests.length > 0">    
        <thead>    
            <tr>    
                <th>ID </th>    
                <th>FILE NAME </th>    
                <th>STATUS </th>    
                <th>DATE </th>   
            </tr>    
        </thead>    
        <tbody>  
            <tr *ngFor="let request of requests">
                <td> <span>{{request.id}}</span> </td>
                <td> <span>{{request.fileName}} </span> </td>
                <td> <span>{{request.status}} </span> </td>
                <td> <span>{{request.date}} </span> </td>
                <td>
                    <button (click)="assignRequest(request)" *ngIf="!checkAssignee(request)">Assign to me</button>
                    <button (click)="openRequest(request)" [routerLink]="['/viewRequest', request.id]" *ngIf="checkAssignee(request)">View Request</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>