<div class="container">

    First name:<input type="text" [(ngModel)]="signupRequest.firstName">
    <br>
    Last name:<input type="text" [(ngModel)]="signupRequest.lastName">
    <br>
    User name:<input type="text" [(ngModel)]="signupRequest.userName">
    <br>
    Email Id:<input type="email" [(ngModel)]="signupRequest.emailId">
    <br>
    Password:<input type="text" [(ngModel)]="signupRequest.password">
    <br>
    <div class = 'form-role'>
        <label for="role">Role</label>
        <input
          type="radio"
          name="role"
          value="requestor"
          [(ngModel)]="signupRequest.role"
        /> Requestor
        <input
          type="radio"
          name="role"
          value="approver"
          [(ngModel)]="signupRequest.role"
        /> Approver
      </div>
    <button (click)="signup()">Sign up</button>

</div>
